
SexyMap2DB = {
[% FOR realm IN charlist.keys -%]
[% FOR char IN charlist.$realm.keys -%]
    ["[% char %]-[% realm %]"] = {
[% INCLUDE sexymap/SexyMap_perchar.lua.template %]
    },
[% END -%]
[% END -%]
    ["presets"] = {
    },
}

