
TellMeWhenDB = {
    ["global"] = {
        ["HelpSettings"] = {
            ["NewDurSyntax"] = 1,
            ["ICON_DURS_FIRSTSEE"] = 1,
            ["ICON_POCKETWATCH_FIRSTSEE"] = 1,
        },
        ["WpnEnchDurs"] = 0,
    },
    ["Version"] = 46502,
    ["profileKeys"] = {
[% FOR realm IN charlist.keys -%]
[% FOR char IN charlist.$realm.keys -%]
        ["[% char %] - [% realm %]"] = "[% charlist.$realm.$char %]",
[% END -%]
[% END -%]
    },
    ["profiles"] = {
[% FOR pname IN pset.profiles_list -%]
        ["[% pname %]"] = {
[% pset.profile_get(pname).lua %]
        },
[% END -%]
    },
}
