
TellMeWhenDB = {
    ["global"] = {
        ["EditorScale"] = 0.9,
        ["EditorHeight"] = 600,
        ["WpnEnchDurs"] = {
        },
        ["HelpSettings"] = {
        },
        ["HasImported"] = false,
        ["ConfigWarning"] = false,
        ["VersionWarning"] = false,
    },
    ["Version"] = [% tmwversion %],
    ["profileKeys"] = {
[% FOR realm IN charlist.keys -%]
[% FOR char IN charlist.$realm.keys -%]
        ["[% char %] - [% realm %]"] = "[% charlist.$realm.$char %]",
[% END -%]
[% END -%]
    },
    ["profiles"] = {
[% FOR pname IN pset.profiles_list -%]
        ["[% pname %]"] = {
[% pset.profile_get(pname).lua %]
        },
[% END -%]
    },
}
